<!--cabeçalho do site-->
<header>
    <h1 class="assistive-hidden">website DDLx Design Comunicação</h1>

    <!--navegação do site-->
    <nav id="navigation">
        <h2 class="assistive-hidden">DDLx Design Comunicação menu</h2>

        <ul class="logo">
            <li>
                <a href="index.html">
                    <div class="logotipo">Logotipo DDLx Design</div>
                </a>
            </li>
        </ul>

        <button id="hamburger" class="hamburger hamburger-elastic show-menu" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>


        <ul id="nav-content" class="navigation">
            <li><a href="#filosofia">FILOSOFIA</a></li>
            <li><a href="#trabalhos">TRABALHOS</a></li>
            <li><a href="#contactos">CONTACTOS</a></li>

        </ul>



    </nav>
    <!-- fim da navegação do site-->
</header>
<!--cabeçalho do site-->
