---
---
// variables, functions and mixins
@import 'helpers/module';
@import 'font-awesome/font-awesome';
//base or config files
@import 'base/module';
//shameless shit
@import 'hacks/shame';
//specific layouts
@import 'layout/module';
//each page layout and specific overrides
@import 'pages/module';
//elemental seriously
@import 'partials/module';


body,
main {
    width: 100%;
    margin: 0 auto;
    max-width: $max-width;
    min-width: $min-width;
}
