section.contactos header.contactos h2.titulo-seccao {
    padding-top: 6rem;
}

aside form h2 {
    background-color: $primary-color;
}

address.contactos p {
    font-family: font-family(secondary);
    color: $secondary-color;
}

section.contactos div.wraper {
    padding-top: 8rem;
}

aside p.titulo {
    padding-bottom: 2rem;
}
